
# Google Maps API Configuration
RADAR_API_KEY=prj_live_sk_be9f47049760eaa40aeb93926c7ec83a662446fd

# Depot Configuration (Segarloka warehouse)
DEPOT_LATITUDE=-6.158715927929927
DEPOT_LONGITUDE=106.73757111534303
DEPOT_NAME=Segarloka Warehouse
DEPOT_ADDRESS=Jakarta, Indonesia
